:root {
    color: #333;
    background-color: #333;
}

.footer-text {
    text-align: center;
    background-color: black;
    color: white;
    border: 5px solid gray;
    border-radius: 50px;
}

.nav-link {
    color: white;
}

.nav_bar {
    text-align: center;
    border: 5px solid gray;
    border-radius: 50px;
    background-color: black;
    margin-bottom: 50px;
}

.nav-link.active {
    border: 7px solid gray;
    border-radius: 10px;
    background-color: black;
}

/* For Plan */
.section {
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #222;
}

.subtopic {
    text-align: center;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #555;
}

.SDGlink {
    text-align: center;
    font-size: 50px;
    color: green;
    border: 5px solid green;
    border-radius: 10px;
    background-color: greenyellow;
}

.sdg-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid green;
    border-radius: 10px;
    background-color: greenyellow;
}
