:root {
    color: #333;
    background-color: #333;
}

.footer-text {
    text-align: center;
    background-color: black;
    color: white;
    border: 5px solid gray;
    border-radius: 50px;
}

.nav-link {
    color: white;
}

.nav_bar {
    text-align: center;
    border: 5px solid gray;
    border-radius: 50px;
    background-color: black;
    margin-bottom: 50px;
}

.nav-link.active {
    border: 10px solid gray;
    border-radius: 50px;
    background-color: black;
}
